.cards-container{
    padding: 130px 40px 70px;
    text-align: center;
}

.section-tag {
    font-size: 0.8rem;
    letter-spacing: 4px;
    color: #636261;
    margin-bottom: 12px;
    text-transform: uppercase;
    
}

.cards-container{
    position: relative;
    height: 250px;
    overflow: hidden;
    position: relative;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom:  0.2rem solid var(--border);
    
}

.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.3;
    background-size: cover;
    background-position: center;
}

.inicio-categoria h1 {
    font-size: clamp(3rem, 8vw, 6rem);
    line-height: 1;
    color: #fff;
    margin-bottom: 20px;
    
}

.inicio-categoria  h1 span {
    color: var(--main-color);
}

.inicio-categoria  > p:last-child {
    max-width: 700px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.1rem;
}

.card-peso-mosca h1{
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

.peso-mosca{
    display: flex;
    align-items: center;
    gap: 40px;

    width: 80%;
    margin: 0 auto;

    background: var(--bg2);
    padding: 30px;
    border-radius: 10px;
}

.peso-mosca img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.joshua-van{
    color: #fff;
}

.joshua-van h2{
    margin-bottom: 20px;
    font-size: 4rem;
}

.joshua-van p{
    line-height: 1.6;
    font-size: 1.8rem;
}

span{
    color: var(--main-color);
}

.card-peso-mosca{
    width: 100%;
    padding: 50px 0;
}

.card-peso-mosca h1{
    text-align: center;
    font-size: 4rem;
}






.card-peso-galo h1{
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

.peso-galo{
    display: flex;
    align-items: center;
    gap: 40px;

    width: 80%;
    margin: 0 auto;

    background: var(--bg2);
    padding: 30px;
    border-radius: 10px;
    
}

.peso-galo img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.petr-yan{
    color: #fff;
}

.petr-yan h2{
    margin-bottom: 20px;
    font-size: 4rem;
}

.petr-yan p{
    line-height: 1.6;
    font-size: 1.8rem;
}

.card-peso-galo{
    width: 100%;
    padding: 50px 0;
}

.card-peso-galo h1{
    text-align: center;
    font-size: 4rem;
}







.card-peso-pena h1{
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

.peso-pena{
    display: flex;
    align-items: center;
    gap: 40px;

    width: 80%;
    margin: 0 auto;

    background: var(--bg2);
    padding: 30px;
    border-radius: 10px;
}

.peso-pena img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.alexander-volkanovski{
    color: #fff;
}

.alexander-volkanovski h2{
    margin-bottom: 20px;
    font-size: 4rem;
}

.alexander-volkanovski p{
    line-height: 1.6;
    font-size: 1.8rem;
}

.card-peso-pena{
    width: 100%;
    padding: 50px 0;
}

.card-peso-pena h1{
    text-align: center;
    font-size: 4rem;
}






.card-peso-leve h1{
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

.peso-leve{
    display: flex;
    align-items: center;
    gap: 40px;

    width: 80%;
    margin: 0 auto;

    background: var(--bg2);
    padding: 30px;
    border-radius: 10px;
}

.peso-leve img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.ilia-topuria{
    color: #fff;
}

.ilia-topuria h2{
    margin-bottom: 20px;
    font-size: 4rem;
}

.ilia-topuria p{
    line-height: 1.6;
    font-size: 1.8rem;
}

.card-peso-leve{
    width: 100%;
    padding: 50px 0;
}

.card-peso-leve h1{
    text-align: center;
    font-size: 4rem;
}





.card-peso-meio-medio h1{
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

.peso-meio-medio{
    display: flex;
    align-items: center;
    gap: 40px;

    width: 80%;
    margin: 0 auto;

    background: var(--bg2);
    padding: 30px;
    border-radius: 10px;
}

.peso-meio-medio img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.islam-makhachev{
    color: #fff;
}

.islam-makhachev h2{
    margin-bottom: 20px;
    font-size: 4rem;
}

.islam-makhachev p{
    line-height: 1.6;
    font-size: 1.8rem;
}

.card-peso-meio-medio{
    width: 100%;
    padding: 50px 0;
}

.card-peso-meio-medio h1{
    text-align: center;
    font-size: 4rem;
}






.card-peso-medio h1{
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

.peso-medio{
    display: flex;
    align-items: center;
    gap: 40px;

    width: 80%;
    margin: 0 auto;

    background: var(--bg2);
    padding: 30px;
    border-radius: 10px;
}

.peso-medio img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.sean-strickland{
    color: #fff;
}

.sean-strickland h2{
    margin-bottom: 20px;
    font-size: 4rem;
}

.sean-strickland p{
    line-height: 1.6;
    font-size: 1.8rem;
}

.card-peso-medio{
    width: 100%;
    padding: 50px 0;
}

.card-peso-medio h1{
    text-align: center;
    font-size: 4rem;
}





.card-peso-meio-pesado h1{
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

.peso-meio-pesado{
    display: flex;
    align-items: center;
    gap: 40px;

    width: 80%;
    margin: 0 auto;

    background: var(--bg2);
    padding: 30px;
    border-radius: 10px;
}

.peso-meio-pesado img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.carlos-ulberg{
    color: #fff;
}

.carlos-ulberg h2{
    margin-bottom: 20px;
    font-size: 4rem;
}

.carlos-ulberg p{
    line-height: 1.6;
    font-size: 1.8rem;
}

.card-peso-meio-pesado{
    width: 100%;
    padding: 50px 0;
}

.card-peso-meio-pesado h1{
    text-align: center;
    font-size: 4rem;
}




.card-peso-pesado h1{
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

.peso-pesado{
    display: flex;
    align-items: center;
    gap: 40px;

    width: 80%;
    margin: 0 auto;

    background: var(--bg2);
    padding: 30px;
    border-radius: 10px;
}

.peso-pesado img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.tom-aspinall{
    color: #fff;
}

.tom-aspinall h2{
    margin-bottom: 20px;
    font-size: 4rem;
}

.tom-aspinall p{
    line-height: 1.6;
    font-size: 1.8rem;
}

.card-peso-pesado{
    width: 100%;
    padding: 50px 0;
}

.card-peso-pesado h1{
    text-align: center;
    font-size: 4rem;
}






.card-peso-palha-feminino h1{
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

.peso-palha-feminino{
    display: flex;
    align-items: center;
    gap: 40px;

    width: 80%;
    margin: 0 auto;

    background: var(--bg2);
    padding: 30px;
    border-radius: 10px;
}

.peso-palha-feminino img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.mackenzie-dern{
    color: #fff;
}

.mackenzie-dern h2{
    margin-bottom: 20px;
    font-size: 4rem;
}

.mackenzie-dern p{
    line-height: 1.6;
    font-size: 1.8rem;
}

.card-peso-palha-feminino{
    width: 100%;
    padding: 50px 0;
}

.card-peso-palha-feminino h1{
    text-align: center;
    font-size: 4rem;
}





.card-peso-mosca-feminino h1{
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

.peso-mosca-feminino{
    display: flex;
    align-items: center;
    gap: 40px;

    width: 80%;
    margin: 0 auto;

    background: var(--bg2);
    padding: 30px;
    border-radius: 10px;
}

.peso-mosca-feminino img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.valentina-shevchenko{
    color: #fff;
}

.valentina-shevchenko h2{
    margin-bottom: 20px;
    font-size: 4rem;
}

.valentina-shevchenko p{
    line-height: 1.6;
    font-size: 1.8rem;
}

.card-peso-mosca-feminino{
    width: 100%;
    padding: 50px 0;
}

.card-peso-mosca-feminino h1{
    text-align: center;
    font-size: 4rem;
}




.card-peso-galo-feminino h1{
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

.peso-galo-feminino{
    display: flex;
    align-items: center;
    gap: 40px;

    width: 80%;
    margin: 0 auto;

    background: var(--bg2);
    padding: 30px;
    border-radius: 10px;
}

.peso-galo-feminino img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.kayla-harrison{
    color: #fff;
}

.kayla-harrison h2{
    margin-bottom: 20px;
    font-size: 4rem;
}

.kayla-harrison p{
    line-height: 1.6;
    font-size: 1.8rem;
}

.card-peso-galo-feminino{
    width: 100%;
    padding: 50px 0;
}

.card-peso-galo-feminino h1{
    text-align: center;
    font-size: 4rem;
}